################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PacketSniffer.sln
/PacketSniffer/PacketSniffer.csproj
/PacketSniffer/appsettings.example.json
/PacketSniffer/appsettings.json
